{%extends 'base.html'%}
{%import 'macros.html' as macro%}


{% block content %}


    




<div class="container">
    <div class="row">
        <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand">
                News Hub
                </a>
                
            
            
            
        </nav>
    </div>
    <div class="row">
       <div class="jumbotron text-center">
           <p>Here is the news bit for today</p>
       </div>
    </div>
    <div class="row overlay main-content">
        <div class="">
            <div class="col-md-2 left text-center sticky-top">
                <h3 class="h">Sources</h3>
                <div class="content">
                    <a href="/sources/the-washington-post" class="list-item">The Washington Post</a>
                    
                    <a href="/sources/cbs-news" class="list-item">CBS News</a>
                    <a href="/sources/cnn" class="list-item">CNN</a>
                    <a href="/sources/bbc-news" class="list-item">BBC News</a>
                    <a href="/sources/al-jazeera-english" class="list-item">Al-Jazeera</a>
                    <a href="/sources/fox-news" class="list-item">Fox News</a>
                </div>
            </div>
            <div class="col-md-10">
                <div class="right">
                    <h3>News highlights</h3>
                    <div class="content">
                        {% if news %}
                            {{macro.displayNewsHighlights(news)}}
                        {%else%}
                            <div class="row">
                                <p>No news by that country</p>
                            </div>
                        {%endif%}
                    </div>
                </div>
                <!-- <span class="links">
                    <a href="">Prev<<</a>|
                    <a class="pull-right" href="">Next>></a>
                </span> -->
            </div>
        </div>
    </div>
</div>
    <!-- <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script> -->
{% endblock %}
