{% macro displayNewsHighlights(news) %}
    {% for item in news %}
        <a href="/article/{{item.id}}">
            {% if news.index(item) == news|count -1%}
                <h4><b>{{item.title}}</b></h4>
                <p>{{item.description}}</p>
                <p>Source: <small>{{item.source['name']}}</small></p>
                <p>Date published: <small>{{item.date}}</small></p>
            {%else%}
                <h4><b>{{item.title}}</b></h4>
                <p>{{item.description}}</p>
                <p>Source: <small>{{item.source['name']}}</small></p>
                <p>Date published: <small>{{item.date_published | truncate(11, True, end='.')}}</small></p>
                <hr>
            {%endif%}
        </a>
    {%endfor%}
{%endmacro%}

{% macro displayNews(news) %}
    {% for itm in news %}
        {% set src = itm.source['name'].split()|join('-')%}
        <a href="/sources/{{src|lower}}/{{itm.id}}">
            {% if news.index(itm) == news|count -1%}
                <h4><b>{{itm.title}}</b></h4>
                <p>{{itm.description}}</p>
                <p>Source: <small>{{itm.source['name']}}</small></p>
                <p>Date published: <small>{{itm.date}}</small></p>
            {%else%}
                <h4><b>{{itm.title}}</b></h4>
                <p>{{itm.description}}</p>
                <p>Source: <small>{{itm.source['name']}}</small></p>
                <p>Date published: <small>{{itm.date_published | truncate(11, True, end='.')}}</small></p>
                <hr>
            {%endif%}
        </a>
    {%endfor%}
{%endmacro%}

